Setting http_proxy does not work

##### SUMMARY
the http_proxy plugin does not create a new proxy and claims that it makes changes.  I can create a proxy with the same settings via hammer or UI. However, when I change the **state** parameter to **absent** the created proxy via hammer will be recognized and deleted.


##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
<!-- Paste, BELOW THIS COMMENT, verbatim output from "ansible --version"-->
```
ansible 2.9.22
```

##### COLLECTION VERSION
<!-- Paste, BELOW THIS COMMENT, verbatim output from "ansible-galaxy collection list"-->
```
theforeman.foreman:3.0.0
```

##### KATELLO/FOREMAN VERSION
<!-- Paste, BELOW THIS COMMENT, verbatim output from "rpm -q tfm-rubygem-katello foreman"-->
```
rpm -q tfm-rubygem-katello foreman satellite
tfm-rubygem-katello-3.16.0.26-1.el7sat.noarch
foreman-2.1.2.26-1.el7sat.noarch
satellite-6.8.6-1.el7sat.noarch

```

##### STEPS TO REPRODUCE
<!-- For bugs, show exactly how to reproduce the problem, using a minimal test-case. -->

<!-- Paste example playbook below -->
```yaml

- name: Configure proxy
  theforeman.foreman.http_proxy:
    name: "myproxy"
    url: "http://myproxy.example.com:8080"
    state: present
    server_url: "{{ satellite_url }}"
    username: "{{ satellite_admin_username }}"
    password: "{{ satellite_admin_password }}"
    validate_certs: yes

```

##### EXPECTED RESULTS
<!-- What did you expect to happen when running the steps above? -->
proxy configuration should appear on the UI. With hammer it works

hammer http-proxy create --name=myproxy --url http://myproxy.example.com:8080

##### ACTUAL RESULTS
<!-- What actually happened? If possible run with extra verbosity (-vvvv) and diff (--diff) -->
<!-- Please also include check mode (--check --diff) output if the API returns an error -->
<!-- Be sure to mask any sensitive information -->

<!--- Paste verbatim command output between quotes below -->
```
ansible-playbook redhat_satellite.yml -i inventory -vvvv --diff

...........

TASK [redhat_satellite : Configure proxy] **************************************************************************************************************************
task path: /home/elmvp/projekts/ansible-helper/roles/redhat_satellite/tasks/administer.yml:24
<satellite.example.com> ESTABLISH SSH CONNECTION FOR USER: root
<satellite.example.com> SSH: EXEC ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o 'User="root"' -o ConnectTimeout=10 -o ControlPath=/home/elmvp/.ansible/cp/c552c188af satellite.example.com '/bin/sh -c '"'"'echo ~root && sleep 0'"'"''
<satellite.example.com> (0, '/root\n', 'OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 51: Applying options for *\r\ndebug1: /etc/ssh/ssh_config line 57: Deprecated option "useroaming"\r\ndebug1: auto-mux: Trying existing master\r\ndebug2: fd 4 setting O_NONBLOCK\r\ndebug2: mux_client_hello_exchange: master version 4\r\ndebug3: mux_client_forwards: request forwardings: 0 local, 0 remote\r\ndebug3: mux_client_request_session: entering\r\ndebug3: mux_client_request_alive: entering\r\ndebug3: mux_client_request_alive: done pid = 10871\r\ndebug3: mux_client_request_session: session request sent\r\ndebug1: mux_client_request_session: master session id: 2\r\ndebug3: mux_client_read_packet: read header failed: Broken pipe\r\ndebug2: Received exit status from master 0\r\n')
<satellite.example.com> ESTABLISH SSH CONNECTION FOR USER: root
<satellite.example.com> SSH: EXEC ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o 'User="root"' -o ConnectTimeout=10 -o ControlPath=/home/elmvp/.ansible/cp/c552c188af satellite.example.com '/bin/sh -c '"'"'( umask 77 && mkdir -p "` echo /root/.ansible/tmp `"&& mkdir "` echo /root/.ansible/tmp/ansible-tmp-1639142794.79-10901-265646687259860 `" && echo ansible-tmp-1639142794.79-10901-265646687259860="` echo /root/.ansible/tmp/ansible-tmp-1639142794.79-10901-265646687259860 `" ) && sleep 0'"'"''
<satellite.example.com> (0, 'ansible-tmp-1639142794.79-10901-265646687259860=/root/.ansible/tmp/ansible-tmp-1639142794.79-10901-265646687259860\n', 'OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 51: Applying options for *\r\ndebug1: /etc/ssh/ssh_config line 57: Deprecated option "useroaming"\r\ndebug1: auto-mux: Trying existing master\r\ndebug2: fd 4 setting O_NONBLOCK\r\ndebug2: mux_client_hello_exchange: master version 4\r\ndebug3: mux_client_forwards: request forwardings: 0 local, 0 remote\r\ndebug3: mux_client_request_session: entering\r\ndebug3: mux_client_request_alive: entering\r\ndebug3: mux_client_request_alive: done pid = 10871\r\ndebug3: mux_client_request_session: session request sent\r\ndebug1: mux_client_request_session: master session id: 2\r\ndebug3: mux_client_read_packet: read header failed: Broken pipe\r\ndebug2: Received exit status from master 0\r\n')
Using module file /home/elmvp/.ansible/collections/ansible_collections/theforeman/foreman/plugins/modules/http_proxy.py
<satellite.example.com> PUT /home/elmvp/.ansible/tmp/ansible-local-10857ZdiqII/tmpEzAR_U TO /root/.ansible/tmp/ansible-tmp-1639142794.79-10901-265646687259860/AnsiballZ_http_proxy.py
<satellite.example.com> SSH: EXEC sftp -b - -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o 'User="root"' -o ConnectTimeout=10 -o ControlPath=/home/elmvp/.ansible/cp/c552c188af '[satellite.example.com]'
<satellite.example.com> (0, 'sftp> put /home/elmvp/.ansible/tmp/ansible-local-10857ZdiqII/tmpEzAR_U /root/.ansible/tmp/ansible-tmp-1639142794.79-10901-265646687259860/AnsiballZ_http_proxy.py\n', 'OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 51: Applying options for *\r\ndebug1: /etc/ssh/ssh_config line 57: Deprecated option "useroaming"\r\ndebug1: auto-mux: Trying existing master\r\ndebug2: fd 4 setting O_NONBLOCK\r\ndebug2: mux_client_hello_exchange: master version 4\r\ndebug3: mux_client_forwards: request forwardings: 0 local, 0 remote\r\ndebug3: mux_client_request_session: entering\r\ndebug3: mux_client_request_alive: entering\r\ndebug3: mux_client_request_alive: done pid = 10871\r\ndebug3: mux_client_request_session: session request sent\r\ndebug1: mux_client_request_session: master session id: 2\r\ndebug2: Remote version: 3\r\ndebug2: Server supports extension "posix-rename@openssh.com" revision 1\r\ndebug2: Server supports extension "statvfs@openssh.com" revision 2\r\ndebug2: Server supports extension "fstatvfs@openssh.com" revision 2\r\ndebug2: Server supports extension "hardlink@openssh.com" revision 1\r\ndebug2: Server supports extension "fsync@openssh.com" revision 1\r\ndebug3: Sent message fd 5 T:16 I:1\r\ndebug3: SSH_FXP_REALPATH . -> /root size 0\r\ndebug3: Looking up /home/elmvp/.ansible/tmp/ansible-local-10857ZdiqII/tmpEzAR_U\r\ndebug3: Sent message fd 5 T:17 I:2\r\ndebug3: Received stat reply T:101 I:2\r\ndebug1: Couldn\'t stat remote file: No such file or directory\r\ndebug3: Sent message SSH2_FXP_OPEN I:3 P:/root/.ansible/tmp/ansible-tmp-1639142794.79-10901-265646687259860/AnsiballZ_http_proxy.py\r\ndebug3: Sent message SSH2_FXP_WRITE I:4 O:0 S:32768\r\ndebug3: SSH2_FXP_STATUS 0\r\ndebug3: In write loop, ack for 4 32768 bytes at 0\r\ndebug3: Sent message SSH2_FXP_WRITE I:5 O:32768 S:32768\r\ndebug3: Sent message SSH2_FXP_WRITE I:6 O:65536 S:32768\r\ndebug3: Sent message SSH2_FXP_WRITE I:7 O:98304 S:32768\r\ndebug3: Sent message SSH2_FXP_WRITE I:8 O:131072 S:17676\r\ndebug3: SSH2_FXP_STATUS 0\r\ndebug3: In write loop, ack for 5 32768 bytes at 32768\r\ndebug3: SSH2_FXP_STATUS 0\r\ndebug3: In write loop, ack for 6 32768 bytes at 65536\r\ndebug3: SSH2_FXP_STATUS 0\r\ndebug3: In write loop, ack for 7 32768 bytes at 98304\r\ndebug3: SSH2_FXP_STATUS 0\r\ndebug3: In write loop, ack for 8 17676 bytes at 131072\r\ndebug3: Sent message SSH2_FXP_CLOSE I:4\r\ndebug3: SSH2_FXP_STATUS 0\r\ndebug3: mux_client_read_packet: read header failed: Broken pipe\r\ndebug2: Received exit status from master 0\r\n')
<satellite.example.com> ESTABLISH SSH CONNECTION FOR USER: root
<satellite.example.com> SSH: EXEC ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o 'User="root"' -o ConnectTimeout=10 -o ControlPath=/home/elmvp/.ansible/cp/c552c188af satellite.example.com '/bin/sh -c '"'"'chmod u+x /root/.ansible/tmp/ansible-tmp-1639142794.79-10901-265646687259860/ /root/.ansible/tmp/ansible-tmp-1639142794.79-10901-265646687259860/AnsiballZ_http_proxy.py && sleep 0'"'"''
<satellite.example.com> (0, '', 'OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 51: Applying options for *\r\ndebug1: /etc/ssh/ssh_config line 57: Deprecated option "useroaming"\r\ndebug1: auto-mux: Trying existing master\r\ndebug2: fd 4 setting O_NONBLOCK\r\ndebug2: mux_client_hello_exchange: master version 4\r\ndebug3: mux_client_forwards: request forwardings: 0 local, 0 remote\r\ndebug3: mux_client_request_session: entering\r\ndebug3: mux_client_request_alive: entering\r\ndebug3: mux_client_request_alive: done pid = 10871\r\ndebug3: mux_client_request_session: session request sent\r\ndebug1: mux_client_request_session: master session id: 2\r\ndebug3: mux_client_read_packet: read header failed: Broken pipe\r\ndebug2: Received exit status from master 0\r\n')
<satellite.example.com> ESTABLISH SSH CONNECTION FOR USER: root
<satellite.example.com> SSH: EXEC ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o 'User="root"' -o ConnectTimeout=10 -o ControlPath=/home/elmvp/.ansible/cp/c552c188af -tt satellite.example.com '/bin/sh -c '"'"'/usr/bin/python /root/.ansible/tmp/ansible-tmp-1639142794.79-10901-265646687259860/AnsiballZ_http_proxy.py && sleep 0'"'"''
<satellite.example.com> (0, '\r\n{"invocation": {"module_args": {"username": "admin", "organizations": null, "name": "myproxy", "url": "http://myproxy.example.com:8080", "locations": null, "proxy_password": null, "server_url": "http://satellite.example.com", "state": "present", "proxy_username": null, "password": "VALUE_SPECIFIED_IN_NO_LOG_PARAMETER", "validate_certs": true}}, "diff": {"after": {"http_proxies": [{}]}, "before": {"http_proxies": [{}]}}, "changed": true, "entity": {"http_proxies": [{"sort": {"by": null, "order": null}, "search": null, "results": [], "per_page": 20, "total": 0, "subtotal": 0, "page": 1}]}}\r\n', 'OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 51: Applying options for *\r\ndebug1: /etc/ssh/ssh_config line 57: Deprecated option "useroaming"\r\ndebug1: auto-mux: Trying existing master\r\ndebug2: fd 4 setting O_NONBLOCK\r\ndebug2: mux_client_hello_exchange: master version 4\r\ndebug3: mux_client_forwards: request forwardings: 0 local, 0 remote\r\ndebug3: mux_client_request_session: entering\r\ndebug3: mux_client_request_alive: entering\r\ndebug3: mux_client_request_alive: done pid = 10871\r\ndebug3: mux_client_request_session: session request sent\r\ndebug1: mux_client_request_session: master session id: 2\r\ndebug3: mux_client_read_packet: read header failed: Broken pipe\r\ndebug2: Received exit status from master 0\r\nShared connection to satellite.example.com closed.\r\n')
<satellite.example.com> ESTABLISH SSH CONNECTION FOR USER: root
<satellite.example.com> SSH: EXEC ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o 'User="root"' -o ConnectTimeout=10 -o ControlPath=/home/elmvp/.ansible/cp/c552c188af satellite.example.com '/bin/sh -c '"'"'rm -f -r /root/.ansible/tmp/ansible-tmp-1639142794.79-10901-265646687259860/ > /dev/null 2>&1 && sleep 0'"'"''
<satellite.example.com> (0, '', 'OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 51: Applying options for *\r\ndebug1: /etc/ssh/ssh_config line 57: Deprecated option "useroaming"\r\ndebug1: auto-mux: Trying existing master\r\ndebug2: fd 4 setting O_NONBLOCK\r\ndebug2: mux_client_hello_exchange: master version 4\r\ndebug3: mux_client_forwards: request forwardings: 0 local, 0 remote\r\ndebug3: mux_client_request_session: entering\r\ndebug3: mux_client_request_alive: entering\r\ndebug3: mux_client_request_alive: done pid = 10871\r\ndebug3: mux_client_request_session: session request sent\r\ndebug1: mux_client_request_session: master session id: 2\r\ndebug3: mux_client_read_packet: read header failed: Broken pipe\r\ndebug2: Received exit status from master 0\r\n')
changed: [satellite.example.com] => {
    "changed": true,
    "diff": {
        "after": {
            "http_proxies": [
                {}
            ]
        },
        "before": {
            "http_proxies": [
                {}
            ]
        }
    },
    "entity": {
        "http_proxies": [
            {
                "page": 1,
                "per_page": 20,
                "results": [],
                "search": null,
                "sort": {
                    "by": null,
                    "order": null
                },
                "subtotal": 0,
                "total": 0
            }
        ]
    },
    "invocation": {
        "module_args": {
            "locations": null,
            "name": "myproxy",
            "organizations": null,
            "password": "VALUE_SPECIFIED_IN_NO_LOG_PARAMETER",
            "proxy_password": null,
            "proxy_username": null,
            "server_url": "http://satellite.example.com",
            "state": "present",
            "url": "http://myproxy.example.com:8080",
            "username": "admin",
            "validate_certs": true
        }
    }
}
META: ran handlers
META: ran handlers

PLAY RECAP *********************************************************************************************************************************************************
satellite.example.com : ok=4    changed=1    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0


```


Can proxies be scoped by Organization? You don't set one in your call, so it might not be finding it for some reason.

Also,when I set my organization and location, I face the same problem.

I use python 2.7 on my system may this be the problem?

```
ansible python module location = /usr/lib/python2.7/site-packages/ansible
executable location = /usr/bin/ansible
python version = 2.7.5 (default, Aug 13 2020, 02:51:10) [GCC 4.8.5 20150623 (Red Hat 4.8.5-39)]
```
But the other foreman plugins, which I am using also, are working ok only http_proxy does not do its work

Nah, 2.7 should be fine. Will try to reproduce on Monday.

The problem is solved. The satellite URL was with http. When I used https, the plugin created my proxy.
But I do not understand why some plugins work with http and some not, do you know?
Moreover, why the plugin (e.g. http_proxy) claims to make changes when I use http, but actually it doesn't?

Thanks

It's complicated ;-)

The underlying problem is that the server (Satellite in your case) knows that it has working HTTPS and redirects all requests that come in via HTTP to HTTPS. This works fine for `GET` requests, but `POST` requests often (in most HTTP clients) get converted to `GET` as a security measure so that possible data is not leaked on redirect (See [RFC 7231 sections 6.4.2-6.4.7](https://datatracker.ietf.org/doc/html/rfc7231#section-6.4.2)).

Either way, I've opened https://github.com/theforeman/foreman-ansible-modules/pull/1328 so that the user is warned if they use an HTTP url :)

The PR was merged, so if you think this would have prevented you from doing a mistake, please close this issue.

If you think it would not have helped, we might need to think further how we can raise awareness of this problem.

Closing, after a week of silence.

Feel free to re-open.